.repo-list {
  color: #555;
}

.repo-list td {
  padding-bottom: 8px;
}

.repo-list--header > th {
  padding-right: 10px;
  padding-bottom: 15px;
  min-width: 100px;
}

.action-text {
  min-width: 0px;
  color: var(--main-color);
  text-decoration: underline;
  padding-right: 0px;
}
