.repo-list {
  color: #555;
}

.repo-list--header > th {
  width: 10vw;
  padding-right: 10px;
  padding-bottom: 15px;
  min-width: 150px;
}

.action-text {
  color: var(--main-color);
  text-decoration: underline;
}
