.search-bar {
  margin: 30px 0;
  width: 100%;
  display: flex;
}

.search-bar--input {
  border-radius: 2px;
  border: 1px solid #555;
  height: 40px;
  padding: 2px 15px;
  width: 60%;
}

.search-bar--button {
  border-radius: 2px;
  border: none;
  background: var(--main-color);
  color: white;
  margin-left: 10px;
  padding: 0 50px;
}
