.App {
  --main-color: #7433f1;
  --header-height: 90;
  text-align: left;
}

.App-header {
  background-color: var(--main-color);
  height: calc(var(--header-height) * 1px);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

main {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  min-height: calc(100vh - calc(var(--header-height) * 1px));
  overflow: scroll;
}

main > section {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 25px 30px;
  min-width: 50vw;
  overflow: scroll;
}

.App-favourites {
  background: #f3ecfe;
}
